.topPanel {
  width: 100%;
  /* padding: 15px, 0px, 60px; */
  height: 55px;
  display: flex;
  grid-template-rows: 1;
  justify-content: right;
  background-color: rgba(3, 23, 16, 0.93);
}
.patContainer,
.mintForm {
  display: flex;
  margin-top: 12px;
  /* background-color: blueviolet; */
  justify-content: center;
  /* align-items: center; */
}
input {
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-left: 12px;
}
button {
  padding: 3px;
  min-width: 50px;
  /* height: 30px; */
}
